* {
  font-family: system-ui;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #bae6af;
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    border-radius: 3px;    
    color: #212529;
    text-align: center;
    padding: 14px 0px;
    width: 20%;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #feffd2;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4f7446;
    color: #ffffff;
  }
  
  /* Hide the icon that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }



  /* Style for page content */
  .content {
    margin: 100px 22%;
    font-size: 20px;
  }
  
  .row, .row-about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    width: 100%;
  }

  .col {
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
    margin-bottom: 16px;
    vertical-align: middle;
  }

  .col-about-1 {
    display: grid;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    width: 30%;
  }

  .col-about-2 {
    display: grid;
    flex-wrap: wrap;
    vertical-align: middle;
    width: 70%;
  }

  .card {
    box-shadow: 0 4px 8px 0 #4f7446;
    border-radius: 3px;
    position: relative;
    padding: 10px;
    margin: 3px;
    text-align: left;
    align-items: center;
  }

  .card-body {
    padding: 5px 14px;
    align-items: center;
  }
  
  .card-body::after, .row::after {
    content: "";
    clear: both;
    display: flex;
  }

  .card-title {
    text-decoration: none;
    color: #ffffff;
    align-items: center;
  }

  .card-about {
    display: flex;
    padding: 16px;
    background-color: #4f7446;
    color: #ffffff;
    font-size: 36px;
    align-items: center;
    text-align: left;   
  }

  .col-about-1 .card-about {
    text-align: center;   
  }
  
  .button-link a {
    background-color: #4f7446;
    border: 1px solid black;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button-link a:hover{
    background-color: #feffd2;
    color: black;
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    align-items: center;
    font-size: 20px;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 18px;
  }

  
  /* When the screen is less than 800 pixels wide */
  @media screen and (max-width: 800px) {
    /* Hide all links, except for the selected tab */
    .topnav a:not(.active) {
      display: none;
    }

    .topnav a.active {
        float: left;
        display: block;
        width: 85%;
      }
  
    /* Show the icon that should open and close the topnav */
    .topnav a.icon {
      float: right;
      display: block;
      width: 15%;
    }

    .col {
      width: 100%;
      display: block;
    }

    .col-about-1 {
      display: block;
      width: 100%;
      text-align: center;
    }
  
    .col-about-2 {
      display: block;
      width: 100%;
    }
  }
  
  /* When the screen is less than 800 pixels wide, if the user clicks on the icon */
  /* the "responsive" class attribute will be added to the topnav by the JavaScript code */
  /* This media query sets the style for the unfolded topnav */
  /* It makes the topnav look good on small screens (display the links vertically instead of horizontally)  */
  @media screen and (max-width: 800px) {
    .topnav.responsive {
      position: fixed;
      width: 100%;
    }
  
    .topnav.responsive a.icon {
      position: absolute;
      display: inline;
      float:right;
      text-align: center;
      width: 15%;
    }

    .topnav.responsive a {
      float: left;
      display: block;
      text-align: center;
      width: 85%;
    }
  }